.App{
  text-align: center;
}

.product-card{
 display: flex;
 flex-direction: column;
 width: 210px;
 flex-wrap: wrap;
 border: 1px solid black;
 padding: 5px;
 margin: 5px;


}


img{
  width: 100px;
  height: 100px;

}

.product-contaner {
  display: flex;
  flex-wrap: wrap;
}

.page-number {
  padding: 2px;
  margin: 2px;
  border: 1px solid rgb(18, 11, 3);
  cursor: pointer;

}


.active{
  background-color: aquamarine;
}